/* Zachary Landers style sheet */
h1{
  text-align:center;
  background-color: white;
  text-decoration: underline;
}
p{
  text-align: center;
  font-size:25px;
}

hr{
   border-color: blue;
}

dl{
  border-style:solid;
  border-color:orange;
}
dt{
  font-size: 20px;
  font-style: oblique;
}
dd{
  font-size: 20px;
  font-style: oblique;
}
